{% extends 'base.html.twig' %}
{# list.html.twig #}
{% block body %}
    <h1>Liste des Fichiers</h1>
    <ul>
        {% for file in files %}
            <li>{{ file['{DAV:}displayname'] }}</li>
        {% endfor %}
    </ul>
{% endblock %}
