{# templates/file/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Fichiers{% endblock %}

{% block body %}
    <h1>Liste des Fichiers</h1>
    <ul>
        {% for file in files %}
            <li>{{ file }}</li>
        {% endfor %}
    </ul>
{% endblock %}
